html,body{
	margin:0;padding:0
	}
body{
	font: 76% arial,sans-serif
	
  margin: 0 auto;

  font-family: 'Lato', sans-serif;
	}
	.carousel {
  	position:relative;
	z-index:1;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: 90%;
    max-width: 115%;
	filter: brightness(50%);
	
}
.carousel-container1 {
  display: flex;
  justify-content: left;
  margin-top: 10%;
  margin-left: 5%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  color: white;
}
.carousel-container2 {
  display: flex;
  justify-content: left;
  margin-top: 12.5%;
  margin-left: 5%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  color: white;
}
.carousel-container1 h1 { 
font-family: Arima Madurai;
}
.carousel-container2 h2 { 
font-family: Arima Madurai;
}



.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.topnav-right
{
    width:100%;
	position:absolute;
	top:10px;
    height:40px;
    line-height:40px;
    color:#fff;
    font-size:14px;
	z-index:2;
}
.topnav-right a {
	float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 17px;
 
}

.topnav-right a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-right a.active {
  background-color: #04AA6D;
  color: white;
}

.button1 {
	 margin-right: 17px;
	 float: right;
	border-radius: 15px;
	background-color: white;
	color: black;
	padding: 10px 24px:
	}

.button2 {

	 background-color: transparent;
	 float: right;
	border-radius: 15px;
	color: white;
	padding: 10px 24px:
	}
.button3 {
	 margin-right: 15%;
	 background-color: transparent;
	 float: right;
	border-radius: 15px;
	color: white;
	padding: 10px 24px:
	}
.button4 {
	 margin-right: 10px;
	 background-color: transparent;
	 float: right;
	border-radius: 15px;
	color: white;
	padding: 10px 24px:
	}

.title { 
font-size: 30px;
 margin-right: 10px;
	 background-color: transparent;
	 float: left;
	border-radius: px10;
	color: white;
	padding: 10px 24px;
	font-family: Arima Madurai;
}

.column1 {
  float: left;
  padding: 35px;
}
.column2 {
  float: right;
  padding: 28px;
}
.column3 {
  float: left;
  padding: 35px;
}
.column4 {
  float: right;
  padding: 28px;
}
.column5 {
  float: left;
  padding: 35px;
}
.column6 {
  float: right;
  padding: 28px;
}

.row {
	  display: flex;
    align-items: center;
    justify-content: center;
	 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 8px;
  text-align: center;
  background-color: #F2F2F1;
  margin-bottom: 5%;
}
.collection {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
 
	 
}
.column3 .h2 {
	text-align: left;
}
h2 {
  text-align: left;
}
p {
  font-size: 19px;
  color: black;
}

#footer {
	
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #B8B8B8;
   color: white;
   text-align: center;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  color: black;
}


#footer .gmail {
	font-family: Century Gothic;
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: black;
}
#footer .address {
	font-family: Century Gothic;
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: black;
}

